label[for="selectExercise"], label[for="solutionField"] {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 12px !important;
    color: #777 !important;
}

label
{
    cursor: text !important;
}

.from-disabled {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

#selectExercise {
    background-color: rgba(0, 0, 0, 0.0);
    position: relative;
    height: 50px;
    padding-top: 14px;
    padding-bottom: 0px;
    padding-left: 8px;
}

#solutionField {
    padding-top: 20px;
    height: 400px;
}

/* Wywswietla entery z DB*/
.text {
    white-space: pre-wrap;
}

/* dla linku nie chcemy tego */
.text > a {
    white-space: normal;
}

.btn-delete {
    background-color: darkred !important;
    border-color: darkred !important;
}